NODE_ENV=development

# Supabase
NEXT_PUBLIC_SUPABASE_URL=<SUPABASE_URL>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<SUPABASE_ANON_KEY>
NEXT_PUBLIC_SUPABASE_ID=
NEXT_PUBLIC_URL=http://localhost:3001
SUPABASE_SERVICE_KEY=

# Resend
RESEND_API_KEY=<RESEND_API_KEY>
RESEND_AUDIENCE_ID=<RESEND_AUDIENCE_ID>

# Trigger
TRIGGER_SECRET_KEY=<TRIGGER_SECRET_KEY>
TRIGGER_PROJECT_ID=<TRIGGER_PROJECT_ID>

# Webhook
WEBHOOK_SECRET_KEY=<WEBHOOK_SECRET_KEY>

# Polar
POLAR_ENVIRONMENT=
POLAR_ACCESS_TOKEN=
POLAR_WEBHOOK_SECRET=
